<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Lista de Gêneros</title>
   <script src='{% static 'js/font.js' %}'></script>
   <link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all"/>

</head>
<body>
<div class="header">
 <h2>Lista de Gêneros</h2>
</div>
<a href='/'>Voltar</a>

<div align="center">

<a href="{% url 'new_genero' %}"> Criar nova categoria <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
</div>

<div class="content">
<br>
<table style="width:800px;">

{% for p in pub %}
<tr>
   <td>
   <a href="{% url 'edit_genero' p.id %}">  <i class="fa fa-pen"></i></a></td> <td>Gênero:  {{ p.nome }} </td> 
   <td>
   <td><a href="{% url 'del_genero' p.id %}"> <i class="fa fa-trash"></i></a></td>
   <p class="card-text">{{p.post|slice:":200" }}</p>
   </td>
</tr>
{% endfor %}
</table>
</div>


</body>
</html>
