<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Locadora Admin</title>
   <script src='{% static 'js/font.js' %}'></script>
   <link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all"/>

</head>
<body>
<div class="header">
 <h2>Locadora Admin</h2>
</div>

<div align="center">

</div>

<div class="content">
<br>
<a href='./clientes/'>Cadastro de clientes</a><br>
<a href='./inventario/'>Inventáio</a><br>
<a href='./cat_preco/'>Categoria de preços</a><br>
<a href='./genero'>Gêneros</a><br>

