	<!DOCTYPE html>
	{% load static %}
	<html lang="en">
	<head>
	   {% block title %}
	   <title>Novo Pedido</title>
	   {% endblock title %}
	   <meta content="width=device-width, initial-scale=1.0" name="viewport">

	   <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
	   <link href="favicon.ico" rel="shortcut icon">
	   <link rel="shortcut icon" href="" type="image/ico">
	   
   <script src='{% static 'js/font.js' %}'></script>
   <link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all"/>

          <style>
	   input[type=text], select {
	     width: 40%;
	     padding: 12px 20px;
	     margin: 8px 0;
	     display: inline-block;
	     border: 1px solid #ccc;
	     border-radius: 8px;
	     box-sizing: border-box;
	   }
	   </style>


	</head>
	<body>
<div class="header">
          {% if param.id != None   %}
	        <h2>Alterar Pedido</h2>
          {% else %}
                <h2>Novo Pedido</h2>
          {% endif %}

</div>

<div align="center">
          {% if param.id != None   %}
                <h2>Editar informações</h2>
          {% else %}
                <h2>Adicionar informações</h2>
          {% endif %}

</div>
<br><br>
<div align="center">
<form method="POST">
   {% csrf_token %}
   <div class="u-form-group">
	<table style="width:1400px;">
	  <thead>
	    <tr>
	      <th width='10%'> </th>
              <th width='40%'> </th>
              <th width='10%'> </th>
              <th width='40%'> </th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label>ID do Pedido:</label></td> <td> {{ form.id }} </td>
              <td><label>Cliente:</label></td> <td> {{ form.cliente }} {{ param.cliente }} </td>
            </tr>
            <tr>
              <td><label>Data Abertura Pedido</label></td> <td> {{ form.data_abertura }} </td>
              <td><label>Data Prev. Devolução:</label></td> <td> {{ form.data_prev_fechamento }} </td>
            </tr>
            <tr>
              <td><label>Valor Previsto:</label></td> <td> {{ form.valor_previsto }} </td>
              <td><label>Quantidade de itens:</label></td> <td> {{ form.quant_itens_pedido }} </td>
            </tr>
          </tbody>
        </table>
        <button class="button button2" id="submitbtn" type="submit" name="submitbtn" value="submitbtn">Criar Pedido</button>
      </div>
</form>
</div>
<br>
<br>
<div align="center">
{% if param.id != None   %}
   <a href="{% url 'new_item_pedido' param.id %}">Adicionar item ao pedido <i class="fa fa-plus-circle" aria-hidden="true"></i></a><br>
{% endif %}

<div class="content">
<br>
 
<table style="width:100%;font-size:12px;text-align: center;">
<thead>
   <tr>
        <th>ID</th>
        <th>TITULO</th>
        <th>QUANTIDADE</th>
        <th>VALOR UN.</th>
        <th>DELETAR</th>
   </tr>
</thead>
<tbody>
{% for p in itens_pedido %}
<tr>
   <td> {{ p.id }} </td>
   <td> {{ p.item.titulo }} </td>
   <td> {{ p.quantidade }} </td>
   <td> {{ p.valor_unitario }} </td>
   <td> <a href="{% url 'del_item_pedido' p.id %}"> <i class="fa fa-trash"></i></a></td>
   <p class="card-text">{{p.post|slice:":200" }}</p>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
<a href='/pedidos'>Voltar à pagina anterior</a>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.14/jquery.mask.min.js"></script>


</body>
</html>
